:root {
    --branco: #FFF;
    --branco-vazado: #ffffffb6;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-claro: #4F4C4C;
    --cinza-medio: #D9D9D9;
    --laranja: #c77408;
        
    --fonte-link: #0084FF;
    --fonte-cinza: #666;
    --borda-nav-mobile: #333;
    --bg-rodape: #333;
    --bg-home-mobile: #333;
    
    --budget-card-start: #56CCF2;
    --budget-card-ultra: #B04CD9;
    --budget-card-mega: #E33B3B;

    --montserrat: 'Montserrat', sans-serif;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.button {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--branco);
    border-radius: 5px;
}

.nav {
    color: var(--branco);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 5px solid var(--laranja);
    position: absolute;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.675) ;
    background-color: var(--bg-home-mobile);
}

.nav__logo {
    margin-bottom: 1rem;
    max-width:150px;
    max-height:200px;
    width: auto;
    height: auto;
}

.nav__bar {
    text-align: center;
}

.nav__link {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

.nav__link:hover{ 
    color: var(--laranja);
}


.home  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        align-items: center;
        color: var(--branco);
        text-align: center;
        background-image: url('../img/fachada.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
}

.home__title {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.home__text {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}

.home__button {
    width: 100%;
}

.about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(169, 169, 169, 0.315);
}

.about__title {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.about__text {
    line-height: normal;
    margin-bottom: 1rem;
    text-align: center;
}

.about__text--focus {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.about__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.services {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background-color: var(--cinza-escuro);
}
.services__title {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
}

.item_img {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%)); 
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.39));
    margin-bottom: 1rem;
    max-width:150px;
    max-height:200px;
    width: auto;
    height: auto;
}

.services__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services__item {
    max-width: 350px;
    padding: 2rem 5rem 2rem 5rem;
}

.item__title {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.5rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
}

.budget {
    background-color: rgba(169, 169, 169, 0.315);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.budget__title {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.budget__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    width: 100%;
    max-width: 300px;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
}

.card__title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: .75rem 0;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--laranja);
    color: var(--laranja)
}

.card__content {
    padding: 0 15%;
}

.card__text {
    color: var(--fonte-cinza);
    line-height: 28px;
}

.card__button {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    align-self: center;
    padding: .75rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: var(--laranja);
    color: var(--laranja)
}

.card__button:hover{
    background-color: var(--laranja);
    color: var(--branco)
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fonte-cinza);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact__title {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.contact__button {
    margin-top: 1rem;
    background-color: var(--laranja);
    color: var(--branco);
    border-color: var(--laranja);
}

.contact__button:hover{
    background-color: var(--branco);
    color: var(--laranja);
    border-color: var(--laranja);
}

.contact__description {
    margin-bottom: 2rem;
}

.contact__address {
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 2rem;
}

.contact__contact {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 2rem;
}

.contact__contact-tel {
    line-height: normal;
}

.contact__contact-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

.contact__map {
    margin-bottom: 1rem;
    max-width:400px;
    max-height:300px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-rodape);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.rodape__logo{
    margin-bottom: 1rem;
    max-width:150px;
    max-height:200px;
    width: auto;
    height: auto;
}

.rodape__nav {
    color: var(--branco);
    text-align: center;
    line-height: 3;
}


.rodape__link {
    display: inline-block;
    margin: 0 .5rem .7rem;
}

#footer__rights {
    color: var(--branco-vazado);
    text-align: center;
    font-size:small;
}
.meuinsta:hover{
    color: #c77408;
}

.rodape__link:hover{ 
    color: var(--laranja);
}

@media screen and (max-width: 759px){
    .contact__button{
        max-width: 150px;
        max-height: 60px;
    }

    .home{
        padding-top: 75px;
    }

    .about__text{
        font-size: 0.9;
    }

    .contact__address{
        font-size: 1rem;
    }

    .card__content{
        text-align: center;
    }

    .home__text{
        max-width: 600px;
    }

    .card{
        max-width: 400px;
    }

    .contact__contact-email{
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .home__text{
        max-width: 600px;
    }

    .card{
        max-width: 400px;
    }

    .contact__contact-email{
        display: inline-block;
    }
}

@media screen and (min-width: 1024px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .home{
        padding-top: 8.25rem;
    }

    .home__title{
        font-size: 3.25rem;
        margin-bottom:2rem;
    }

    .services__lista{
        justify-content: space-around;
    }

    .about{
        display: flex;
    }

    .about__content{
        margin-right: 3rem;
    }

    .about__text-division{
        padding-bottom: 1.5rem;
    }

    .contact .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    .contact__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .contact__map {
        align-self: flex-end;

        width: 375px;
    }

    .contact__contact-email {
        display: block;
    }

    .budget__card {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card {
        max-width: 300px;
    }

    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rodape__nav {
        text-align: left;
        min-width: 600px;
    }


}